@font-face {
    font-family: lato;
    src: url(../fonts/Lato-Regular.ttf);
  }

/*
scss variables
*/
$background-color : #333;
$color-text-header : white;
$color-text-error : darkred;

/*
 * All
*/

*{
    font-family: lato;
    margin: 0;
    padding: 0;
}

/*
 * other
 */
h1{
    color: darkslategray;
}

.error{
    color: $color-text-error;
}

/*
 * Header
 */
nav{
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: $background-color;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.header-left{
    margin-right: auto;
    margin-left: 20px;
    font-size: 30px;
}

.header-right{
    margin-right: 20px;
    font-size: 20px;
}


li a {
    display: block;
    color: $color-text-header;
    text-align: center;
    text-decoration: none;
    padding: 40px 10px;
}

li:hover {
    background-color: purple;
}

/*
 * Home-page
*/
.hp-container{
    color: purple;
        h1{
            font-style: oblique;
            color: purple;
        }

        p{

        }
}

