@font-face {
    font-family: lato;
    src: url(../fonts/lato/Lato-Regular.ttf);
  }

    @font-face {
    font-family: gorgia;
    src: url(../fonts/georgia/georgia.ttf);
    }

/*
scss variables
*/
$background-color : #000;
$color-hover: #4747478c;
$color-text-big-tittle : white;
$color-text-error : darkred;

/*
 * All
*/

*{
    font-family: lato;
    margin: 0;
    padding: 0;
}

.error{
    color: $color-text-error;
}

.default-image{
    background-color: #e6e6e6;
    width: 100%;
    height: 100%;
    display: block;
}

p{
    text-align: justify;
}

/* Titles */
h1{
    padding-bottom: 20px;
}

h2{
    padding: 10px;
}

h3{
    padding-bottom: 5px;
}

/* Container */
.default-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* citation */
.citation{
    font-style: italic;
    font-size: 18px;
    text-align: center;
}

/* separtion dashed-line */
.line{
    margin: 20px 10px;
    border-style: dashed;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    color: #000000b3;
}

/*
 * Header
 */
nav{
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: $background-color;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.header-left{
    margin-right: auto;
    margin-left: 20px;
    font-size: 30px;
}

.header-right{
    margin-right: 20px;
    font-size: 20px;
}


li a {
    display: block;
    color: $color-text-big-tittle;
    text-align: center;
    text-decoration: none;
    padding: 40px 10px;
}

li:hover {
    background-color: $color-hover;
}

/* 
 * Footer
*/
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $background-color;
    color: $color-text-big-tittle;
    text-align: center;
    padding: 90px 0px;

    #p-footer{
        text-align: center;
    }
}

/*
 * Home-page
*/
.hp-body{
    overflow-y: hidden;

    .hp-container{
        /* css for the image */
        color: purple;
        background-image: url("../images/me-back.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 150vh;
    
        .hp-text{
            text-align: center;
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-shadow: 2px 2px #00000047;
            color: white;
            font-size: 20px;
        }
    
        .hp-button{
            /* Position */
            text-align: center;
            position: absolute;
            top: 21%;
            left: 72%;
            transform: translate(-50%, -50%);

            /* Aspect */
            color: white;
            text-decoration: none;
            background-color: #0000003d;
            font-weight: bold;
            padding: 15px 25px;
            border-radius: 4px;
        }
    
    }
}


/*
 * Divers
*/
.div-container{
    flex-flow: row-reverse;

    .div-content-img{
        width: 700px;
        height: 100%;
        margin: 0 20px;
    }

    .div-content{
        margin-top: 6em;
        width: 500px;
        text-align: center;
    }
}

/*
 * Bio
*/
.bio-container{
    margin-top: 6em;

    .bio-content{
        width: 500px;
        margin: 10px;
        text-align: center;
    }
}

/*
 * Info-Dev
*/
.info-container{
    margin-top: 4em;
    
    .info-content{
        width: 400px;
        margin: 0px 20px;
        p{
            padding-bottom: 25px;
        }
        #info-right{
            margin-top: 100px;
        }
    }

    .info-content-img{
        width: 400px;
        height: 100%;
        margin: 0 20px;
    }
}

/*
 * Info-crea
*/
.info-crea-container{
    margin-top: 6em;

    .info-crea-content{
        width: 500px;
        margin: 10px;
        text-align: center;
    }

    .info-citation{
        margin-top: 50px;
    }

    .info-crea-left-content
    {
        width: 300px;
    }

    #info-img-avatar{
        border-radius: 50%;
        width: 100px;
        margin-bottom: 20px;
        margin-left: 10px;
    }
}

